@import "tailwindcss";

@font-face {
  font-family: "neue-haas-grotesk-display";
  src: url("/fonts/NHaasGroteskDSPro-65Md.otf");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

html {
  font-family: "neue-haas-grotesk-display", sans-serif;
}
